---
// Dosya Yolu: src/components/AboutSlider.astro
import { SanityDocument } from "@sanity/client";
import sanityClient from "../lib/sanityClient";
import { urlFor } from "../lib/image";

const query = `*[_type == "galeri" && anaSayfaSliderdaGoster != true]`;
const images: SanityDocument[] = await sanityClient.fetch(query);
---

<div class="swiper about-swiper h-full w-full rounded-lg shadow-lg">
  <div class="swiper-wrapper">
    {images.map(image => (
      <div class="swiper-slide">
        <img 
          src={urlFor(image.resim).width(600).height(450).quality(80).url()} 
          alt={image.aciklama || 'Tisan manzarası'}
          class="w-full h-full object-cover"
        />
      </div>
    ))}
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
</div>

<style is:global>
    .about-swiper .swiper-pagination-bullet-active {
        background-color: #0891b2;
    }
    .about-swiper .swiper-button-prev,
    .about-swiper .swiper-button-next {
        color: white;
        --swiper-navigation-size: 24px;
    }
</style>